news/__pycache__/__init__.cpython-38.pyc
news/__pycache__/admin.cpython-38.pyc
news/__pycache__/apps.cpython-38.pyc
news/__pycache__/forms.cpython-38.pyc
news/__pycache__/models.cpython-38.pyc
news/__pycache__/tests.cpython-38.pyc
news/__pycache__/urls.cpython-38.pyc
news/__pycache__/views.cpython-38.pyc
.DS_Store
.DS_Store
